.movies-filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}
/* .movies-filter-container button { */
/* margin-right: 2rem;
  min-width: 5rem;
  padding: 0.5rem 1rem;
  /* border: none; */
/* background: white;
  color: rgb(65, 98, 168);
  border-radius: 1rem;
  border: 2px solid rgb(65, 98, 168);
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px; */
/* } */

.btn-filter-tt {
  padding: 10px 30px;
  margin: 10px;
  background: linear-gradient(45deg, rgb(173, 159, 228), rgb(198, 183, 185));
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
