.container-kg {
  width: 100%;
  max-width: 60%;
  border: 1px solid rgb(229, 219, 219);
  margin: 20px auto;
  height: 60vh;
  margin-bottom: 100px;
}
.container-kg-message {
  width: 100%;
  height: 60vh;
  border: 1px solid rgb(255, 233, 233);
  overflow-y: auto;
  background-image: url(https://m.media-amazon.com/images/I/71uQKi6sDLL.jpg);
}
.container-spinner {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}
.container-chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(56, 29, 38, 0.76);
  padding: 5px 20px;
}
.btn-send {
  width: 150px;
  height: 50px;
  background-color: rgba(35, 35, 200, 0.799);
  font-size: 30px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
}
.inp-massage {
  width: 80%;
  height: 70px;
  background: white;
  color: rgb(36, 7, 7);
  font-size: 20px;
  border-radius: 15px;
  padding: 0 15px;
}
