.container-t-t {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.btn-cart {
  width: 100%;
  height: 40px;
  background: rgba(234, 233, 233, 0.79);
  display: flex;
}
.btn-t-a {
  background: grey;
  top: 185px;
  margin: 0 23px;
}
#container-t {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
