.container-ch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2%;
  flex-direction: column;
}
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
}
#h1-t {
  /* color: #fff;
  font-size: 5em;
  font-weight: 600;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff; */
  position: relative;
  font-size: 5em;
  letter-spacing: 15px;
  color: #0e3742;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  line-height: 0.7em;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: #0e3742;
    text-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4,
      0 0 80px #03bcf4, 0 0 120px #03bcf4;
  }
}

.main-explore {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main-explore img {
  width: 100%;
}
.imgs {
  width: 30%;
  height: 20%;
  /* margin-left */
  margin-top: 3%;
  /* margin: 0 2%; */
  /* padding-left: 5%; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.main-popular {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.filter-third {
  font-size: 40px;
  font-weight: bold;
  color: rgb(113, 205, 239);
  text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4,
    0 0 80px #03bcf4, 0 0 120px #03bcf4;
}

.main-popular img {
  width: 100%;
  height: 100%;
}

.imgsa {
  width: 200px;
  height: 300px;
  margin: 10px;
}
.imgsa img {
  width: 100%;
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.div-imgsa {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.imgsa:hover {
  padding: 1px;
  transform: translateY(3px) scale(0.99);
  cursor: pointer;
}

@media (max-width: 627px) {
  #h1-t {
    font-size: 4rem;
  }
  .filter-third {
    font-size: 20px;
  }
}
@media (max-width: 430px) {
  #h1-t {
    font-size: 3rem;
  }
}

@media (max-width: 365px) {
  #h1-t {
    font-size: 2.4rem;
  }
}
p {
  color: #fff;
}
