.container-ch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2%;
  flex-direction: column;
}
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
.h1-t {
  color: white;
  box-shadow: 2px 2px 2px 2px white;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.377);
  border: none;
}

.main-explore {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main-explore img {
  width: 100%;
}
.imgs {
  width: 30%;
  height: 20%;
  /* margin-left */
  margin-top: 3%;
  /* margin: 0 2%; */
  /* padding-left: 5%; */
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.main-popular {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.main-popular img {
  width: 100%;
}

.imgsa {
  width: 40%;
  height: 50%;
  margin: 1%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.div-imgsa {
  width: 100%;
  height: 100%;
  display: flex;
}
.imgsa:hover {
  padding: 1px;
  transform: translateY(3px) scale(0.99);
  cursor: pointer;
}
