.img-aaaa {
  rotate: (260deg) inherit;
  width: 300px;
  position: absolute;
  transform: translate(-50%, -50%);
  animation: myfirst 20s infinite linear;
}
.rotate {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes myfirst {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
