.footer-wrapper {
  bottom: 0;
  width: 100%;
  margin-top: 40px;
  height: 100%;
}

.footer-icons {
  top: 25%;
  bottom: 10%;
  border-radius: 15px 0 0 15px;
  background: rgb(54, 45, 45);
  height: 280px;
  width: 50px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  right: 0;
}

.footer-icons a {
  color: white;
}
.footer-icons a:hover {
  cursor: pointer;
  font-size: 35px;
  color: red;
}

.footer-second {
  width: 100%;
  background-color: rgb(27, 25, 33);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.footer-cont {
  width: 50%;
}

.footer-text {
  width: 100%;
  margin-top: 20px;
  margin-left: 5px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: "5vw";
}
.footer-text a {
  color: white;
  transition: 0.3s;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  /* font-family: "Courier New", Courier, monospace; */
}

.footer-text p {
  /* display: flex;
  justify-content: space-between; */
  color: white;
  transition: 0.3s;
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
  /* font-family: "Courier New", Courier, monospace; */
  margin-top: 30px;
  text-transform: uppercase;
}

.footer-st-img-a {
  width: 100%;
}

.footer-logo {
  width: 30%;
  height: 100%;
}

.footer-logo img {
  margin-top: 50px;
  transform: rotate(320deg);
  width: 34%;
}

.last-line {
  color: white;
  font-size: 12px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-top: 40px;
  font-family: "Courier New", Courier, monospace;
}

@media (max-width: 500px) {
  .footer-logo {
    display: none;
  }
  .footer-cont {
    width: 100%;
    padding: 20px;
  }
}
