.auth-container {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: flex-end;
  background-image: url("https://img.freepik.com/free-vector/camera-background-with-composition-realistic-dark-sky-professional-camera-with-light-text_1284-60593.jpg?w=2000");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 600px; */
  margin-bottom: -40px;
}

.auth-box {
  width: 40%;
  height: 400px;
  box-shadow: 10px 5px 5px rgb(53, 44, 49);
  text-align: center;
  margin-top: 80px;
  font-size: 20px;
  font-weight: 700;
  color: rgba(85, 7, 163, 0.039);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 50px;
  border: 1px solid rgb(56, 53, 53);
  background-image: url("https://dcmp.org/images/learning_center/34/34-1.jpg");
  border-radius: 10px;
}
.auth-box h1 {
  font-size: 60px;
  font-weight: 700;
  color: rgb(89, 93, 225);
  padding-top: 150px;
}
.auth-box p {
  font-size: 20px;
  font-weight: 700;
  color: rgb(89, 93, 225);
}

.auth-form-main {
  width: 40%;
  height: 400px;
  /* box-shadow: 10px 5px 5px rgb(53, 44, 49); */
  /* border: 2px solid rgb(56, 53, 53); */
  /* background-image: url("https://png.pngtree.com/background/20211217/original/pngtree-movie-film-white-light-effect-spot-background-picture-image_1576158.jpg"); */
  /* border-radius: 10px; */
}

.auth-form {
  width: 80%;
  /* margin: 0 auto; */
  margin-left: 300px;
  margin-top: 50px;
  border-radius: 10px;
  padding-top: 50px;
}

.auth-form .login-form-button {
  height: 40px;
  background-color: rgb(28, 26, 26);
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-radius: 15px;
}

.auth-form .auth-input {
  border-radius: 15px;
  border-color: black;
  /* background: linear-gradient(45deg, rgb(61, 61, 206), rgb(207, 99, 117)); */
  height: 40px;
  padding-left: 20px;
}
.auth-form .auth-text {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.auth-form .auth-signup {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}
